body{
    background-color: lightgray;
}
#search-field{
    width:30%;
}
#search-btn:hover{
background-color: black;
color:white;
}
#loading{
display: none;
}
@media screen and (min-width: 768px) {
  .photo{
      height:300px;
  }
  }